@import './reset.css';

// 修改滚动条的样式

// 滚动条外观样式
::-webkit-scrollbar {
    width: 10px;
}
// 修改滚动条的背景颜色
::-webkit-scrollbar-track {
    background-color: $base-menu-bg;
}
 // 修改滚动条的滑块颜色
::-webkit-scrollbar-thumb {
    background-color: green;
    border-radius: 5px;
}