

$color-primary: #ffe1e1;


// 左侧菜单的基础宽度
$base-menu-width: 260px;
// 折叠起来最小宽度
$base-menu-collapse-width: 50px;

// 做的菜单的背景颜色
$base-menu-bg: #001529;

// 顶部道航的高度
$base-header-height: 65px;

// logo组件的高度
$base-logo-height: 50px;

